/*主打色**/
/*文本主颜色*/
/*logo底色*/
/*左侧栏*/
/*左侧栏选中颜色*/
/*浅绿*/
/*边框颜色*/
/*浅灰背景色*/
/*tag标签背景颜色*/
/**/
/**/
/**/
/*灰色按钮*/
/*input placeholder 字体颜色*/
body {
  font-size: 62.5%;
}

/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
:focus {
  outline: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ul {
  list-style: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}

/*主打色**/
/*文本主颜色*/
/*logo底色*/
/*左侧栏*/
/*左侧栏选中颜色*/
/*浅绿*/
/*边框颜色*/
/*浅灰背景色*/
/*tag标签背景颜色*/
/**/
/**/
/**/
/*灰色按钮*/
/*input placeholder 字体颜色*/
body {
  font-size: 62.5%;
}
.custom .nav {
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  background-color: #edfefe;
}
.custom .content {
  width: 100%;
  display: inline-block;
}
.custom .content .left-content {
  text-align: center;
  padding: 20px 0 50px 0;
}
.custom .content .left-content .title-box {
  width: 100%;
  display: inline-block;
}
.custom .content .left-content .title-box .title {
  font-size: 1.8em;
  line-height: 30px;
}
.custom .content .left-content .title-box .prompt {
  color: red;
  margin: 20px 0;
}
.custom .content .left-content .info-box {
  display: inline-block;
  width: 100%;
}
.custom .content .left-content .info-box .info-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  text-align: left;
  border-left: 3px solid #2b8c8c;
  background-color: #f4f9fa;
}
.custom .content .left-content .info-box .info-title span {
  color: red;
  margin: 0 10px;
}
.custom .content .left-content .info-box .info-detail {
  width: 100%;
  margin: 40px 0;
}
.custom .content .left-content .info-box .info-detail input {
  outline: none;
  width: 195px;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  margin-bottom: 30px;
  color: #333;
  border: 1px solid #ddd;
}
.custom .content .left-content .info-box .info-detail .sample {
  color: #339999;
}
.custom .content .left-content .info-box .info-detail .level {
  display: inline-block;
}
.custom .content .left-content .info-box .info-detail .level li {
  float: left;
  width: 110px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #339999;
  color: #339999;
  margin-right: 30px;
  cursor: pointer;
}
.custom .content .left-content .info-box .info-detail .level li:hover {
  background-color: #d2f7f7;
  border: none;
}
.custom .content .left-content .info-box .info-taglist {
  width: 100%;
  text-align: left;
  padding: 20px 0 20px 0;
}
.custom .content .left-content .info-box .info-taglist .tags-list {
  display: inline-block;
}
.custom .content .left-content .info-box .info-taglist .tags-list li {
  float: left;
  height: 26px;
  line-height: 26px;
  background-color: #d2f7f7;
  color: #333;
  margin-right: 20px;
}
.custom .content .left-content .info-box .info-taglist .tags-list li .tag {
  padding: 0 10px;
}
.custom .content .left-content .info-box .info-taglist .tags-list li .del-btn,
.custom .content .left-content .info-box .info-taglist .tags-list li .add-btn {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #2b8c8c;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.custom .content .left-content .info-box .info-taglist .skill-tags {
  padding-left: 100px;
}
.custom .content .left-content .info-box .info-taglist .keyword {
  margin-top: 40px;
}
.custom .content .left-content .info-box .info-taglist .keyword .text {
  float: left;
  height: 26px;
  line-height: 26px;
}
.custom .content .left-content .info-box .info-taglist .add-keyword {
  display: inline-block;
  margin: 20px 0 50px 100px;
  padding: 6px 10px;
  border: 1px solid #2b8c8c;
  color: #2b8c8c;
  cursor: pointer;
}
.custom .content .left-content .save-btn {
  padding: 10px 25px;
  background-color: #ffa726;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
.custom .content .right-floor {
  padding-top: 102px;
}
.custom .content .right-floor .floor-box {
  width: 210px;
  height: 400px;
  border: 1px solid #edfefe;
  border-top: 3px solid #2b8c8c;
  text-align: center;
}
.custom .content .right-floor .floor-box .floor-border {
  width: 130px;
  height: 330px;
  border-left: 1px solid #ddd;
  display: inline-block;
  margin-top: 35px;
}
.custom .content .right-floor .floor-box .floor-border .floor-list {
  float: left;
  display: inline-block;
}
.custom .content .right-floor .floor-box .floor-border .floor-list li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 40px;
}
.custom .content .right-floor .floor-box .floor-border .floor-list li .point {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: -5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.custom .content .right-floor .floor-box .floor-border .floor-list li .point-current {
  background-color: #2b8c8c;
  border: none;
}
.custom .content .right-floor .floor-box .floor-border .floor-list li .floor {
  padding: 5px 20px;
  margin-left: 10px;
}
.custom .content .right-floor .floor-box .floor-border .floor-list li .floor-current {
  background-color: #edfefe;
}


/*主打色**/
/*文本主颜色*/
/*logo底色*/
/*左侧栏*/
/*左侧栏选中颜色*/
/*浅绿*/
/*边框颜色*/
/*浅灰背景色*/
/*tag标签背景颜色*/
/**/
/**/
/**/
/*灰色按钮*/
/*input placeholder 字体颜色*/
body {
  font-size: 62.5%;
}
.main {
  /*font-family: "微软雅黑";*/
}
.main .yun-navbar {
  height: 60px;
  background-color: #339999;
  color: #fff;
  font-size: 1.6em;
}
.main .yun-navbar .logo-img {
  float: left;
  width: 180px;
  text-align: center;
  background-color: #2b8c8c;
  display: inline-block;
  margin-right: 5px;
}
.main .yun-navbar .logo-img img {
  height: 60px;
  display: inline-block;
  margin-top: -20px;
}
.main .yun-navbar .navbar-center {
  float: left;
  line-height: 60px;
  text-align: center;
  padding-left: 10px;
}
.main .yun-navbar .navbar-right {
  /*float:right;*/
  display: inline-block;
}
.main .yun-navbar .navbar-right li {
  float: left;
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-left: 8px solid #2b8c8c;
}
.main .yun-navbar .navbar-right li:hover {
  font-weight: bold;
}
.main .row-content {
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 59px;
  left: 0;
  bottom: 0;
}
.main .row-content .menulist {
  width: 100px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #485259;
}
.main .row-content .menulist .menu {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
.main .row-content .menulist .menu i {
  font-size: 20px;
}
.main .row-content .menulist .current {
  background-color: #999;
}
.main .row-content .right-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 100px;
  background-color: #fff;
  overflow-y: scroll;
}
.main .row-content .right-content .myrecruit {
  padding: 0;
}
.main .row-content .right-content .myrecruit .content .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #edfefe;
  color: #333;
  margin: 10px 0;
  padding-left: 20px;
}
.main .row-content .right-content .myrecruit .content .table tr td {
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #666;
  border-right: 1px solid #fff;
}
.main .row-content .right-content .myrecruit .content .table tr .vertical {
  vertical-align: middle;
}
.main .row-content .right-content .myrecruit .content .table .border-bot {
  border-bottom: 1px solid #fff;
}


@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1467082566');
  /* IE9*/
  src: url('fonts/iconfont.eot?t=1467082566#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/iconfont.woff?t=1467082566') format('woff'), /* chrome, firefox */ url('fonts/iconfont.ttf?t=1467082566') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('fonts/iconfont.svg?t=1467082566#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liebiao:before {
  content: "\e61d";
}
.icon-chakan:before {
  content: "\e61c";
}
.icon-sousuo:before {
  content: "\e623";
}
.icon-iconfontcha:before {
  content: "\e624";
}
.icon-gouwuche:before {
  content: "\e625";
}
.icon-jiatingyoubian:before {
  content: "\e611";
}
.icon-icongengduozhanshixiangmu:before {
  content: "\e626";
}
.icon-dianhua:before {
  content: "\e612";
}
.icon-zhankai:before {
  content: "\e621";
}
.icon-zuzhijiagou:before {
  content: "\e600";
}
.icon-youxiang:before {
  content: "\e613";
}
.icon-tianjia:before {
  content: "\e61e";
}
.icon-mima:before {
  content: "\e614";
}
.icon-tuwen:before {
  content: "\e601";
}
.icon-geren:before {
  content: "\e615";
}
.icon-lianxiwomen:before {
  content: "\e616";
}
.icon-fenlei:before {
  content: "\e60a";
}
.icon-shanchu:before {
  content: "\e61f";
}
.icon-help:before {
  content: "\e627";
}
.icon-xiangyou:before {
  content: "\e628";
}
.icon-change:before {
  content: "\e617";
}
.icon-didian:before {
  content: "\e618";
}
.icon-lianxiwomen1:before {
  content: "\e619";
}
.icon-bianji:before {
  content: "\e620";
}
.icon-wenanguanli:before {
  content: "\e60b";
}
.icon-caozuorizhi:before {
  content: "\e60c";
}
.icon-yuanququanxian:before {
  content: "\e602";
}
.icon-shangpinguanli:before {
  content: "\e603";
}
.icon-xiangyou1:before {
  content: "\e629";
}
.icon-template-manage:before {
  content: "\e60d";
}
.icon-shangchuan:before {
  content: "\e62a";
}
.icon-tupianguanli:before {
  content: "\e60e";
}
.icon-bofang:before {
  content: "\e61a";
}
.icon-xinxi:before {
  content: "\e604";
}
.icon-xitongguanli:before {
  content: "\e605";
}
.icon-employee:before {
  content: "\e606";
}
.icon-xianshimoshiliebiao:before {
  content: "\e62b";
}
.icon-baocun:before {
  content: "\e62c";
}
.icon-ku:before {
  content: "\e607";
}
.icon-cf-c45:before {
  content: "\e60f";
}
.icon-pinpai:before {
  content: "\e610";
}
.icon-guanyuwomen:before {
  content: "\e61b";
}
.icon-zhankai1:before {
  content: "\e622";
}
.icon-shangyi:before {
  content: "\e62d";
}
.icon-xiayi:before {
  content: "\e62e";
}
.icon-lingmao:before {
  content: "\e608";
}
.icon-lm:before {
  content: "\e609";
}
.icon-jiageshangxiajian:before {
  content: "\e62f";
}
