<div class="resetpwd">
    <div class="title">重置密码</div>
    <div class="user-box input">
        <i class="iconfont">&#xe615;</i>
        <input type="text" placeholder="请输入手机号码" class="base">
    </div>
    <div class="pwd-box input">
        <i class="iconfont">&#xe614;</i>
        <input type="text" placeholder="请设置新密码" class="base">
    </div>
    <div class="repwd-box input">
        <i class="iconfont">&#xe614;</i>
        <input type="text" placeholder="确认新密码" class="base">
    </div>
    <div class="submit-btn base">提交</div>
</div>
