<div >
	<div class="custom">
		<div class="nav">定制推荐职位</div>
		<div class="content">
			<div class="col-ms-12 col-md-12 col-lg-12">
				<div class="col-ms-9 col-md-9 col-lg-9">
					<div class="left-content">
						<div class="title-box">
							<div class="title">定制推荐条件</div>
							<div class="prompt">注 : *为必填内容</div>
						</div>
						<div class="info-box">
							<div class="info-title">职位名称 <span>*</span> </div>
							<div class="info-detail">
								<input type="text" placeholder="输入职位名称">
								<div class="sample">填写准确的职位名称,如软件测试工程师</div>
							</div>
						</div>
						<div class="info-box">
							<div class="info-title">人才级别 <span>*</span> </div>
							<div class="info-detail">
								<ul class="level">
									<li>初级</li>
									<li>中级</li>
									<li>高级</li>
								</ul>
							</div>
						</div>
						<div class="info-box">
							<div class="info-title">人才技能 <span>*</span> </div>
							<div class="info-taglist">
								<div class="skill-tags">
									<ul class="tags-list">
										<li>
											<span class="tag">NodeJS</span>
											<span class="del-btn">--</span>
										</li>
										<li>
											<span class="tag">HTML5</span>
										</li>
									</ul>
								</div>
								<div class="keyword">
									<div class="text">请选择技能关键词&nbsp;&nbsp;:&nbsp;&nbsp;</div>
									<ul class="tags-list">
										<li>
											<span class="tag">C++</span>
											<span class="add-btn">+</span>
										</li>
										<li>
											<span class="tag">PHP</span>
											<span class="add-btn">+</span>
										</li>
										<li>
											<span class="tag">JAVA</span>
											<span class="add-btn">+</span>
										</li>
										<li>
											<span class="tag">Oracle</span>
											<span class="add-btn">+</span>
										</li>
									</ul>
								</div>
								<div class="add-keyword">+ &nbsp;添加关键词</div>
							</div>
						</div>
						<div class="save-btn">保存推荐条件</div>
					</div>
				</div>
				<div class="col-ms-3 col-md-3 col-lg-3">
					<div class="right-floor">
						<div class="floor-box">
							<div class="floor-border">
								<ul class="floor-list">
									<li>
										<span class="point point-current"></span>
										<span class="floor floor-current">职位名称</span>
									</li>
									<li>
										<span class="point"></span>
										<span class="floor">人才级别</span>
									</li>
									<li>
										<span class="point"></span>
										<span class="floor">人才技能</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>