<div class="main">
    <div class="container-fluid">
        <div class="navbar navbar-fixed-top lm-navbar">
            <div class="navbar-header">
                <a class="navbar-brand logo-img" href="#/">
                    <img alt="Brand" src="./image/common/logo-yellow.png">
                </a>
            </div>
            <div class="navbar-center">我的零猫</div>
            <div class="user-info">
	            <div class="message">
	            	<i class="iconfont">&#xe604;</i>
	            </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        15995638423
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">username</a></li>
                        <li><a href="/forgetpwd">修改密码</a></li>
                        <li><a href="/login">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-content">
        	<div class="menulist">
        		<div ng-repeat="(index,menu) in menuList" class="menu" ng-click="setShowIndex(index)" ui-sref="main.{{menu.url}}" ui-sref-opts="{reload:true}" >
        			<i class="iconfont">{{menu.icon}}</i>
        			{{menu.title}}
        			<div class="sub-menu" ng-show="showIndex==index">
        				<ul>
        					<li ng-repeat="(subIndex,subMenu) in menu.subMenus" ui-sref="main.{{subMenu.url}}" ng-click="setShowIndex(subIndex)" ng-class="{'current':showIndex==subIndex}">
        						<i class="iconfont">{{subMenu.icon}}</i>
        					{{subMenu.title}}
        					</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div ui-view class="right-content"></div>
        </div>
    </div>
</div>
