<div class="users">
    <div class="container">
        <div class="wrap">
            <div class="topbar">
                <div class="home-btn l-btn" ui-sref="users.login">回到首页</div>
                <div class="reg-btn l-btn" ui-sref="users.register">
                    <i class="iconfont">&#xe617;</i>注册
                </div>
            </div>
            <div class="page-box">
                <div class="logo">
                    <img src="image/common/logo.png" alt="零猫">
                </div>
                <div ui-view ></div>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li>关于我们</li>
                <li>服务条款</li>
                <li>招聘信息</li>
                <li>联系我们</li>
            </ul>
            <div class="copy">Copyright©&nbsp;2016&nbsp;零猫&nbsp;&nbsp;|&nbsp;&nbsp;浙ICP备15045566号</div>
        </div>
    </div>
</div>
